{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": true,
    "parser": "typescript",
    "printWidth": 100,
    "trailingComma": "none",
    "singleAttributePerLine": false,
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        }
    ]
}