##[DEV|PROD|TEST]
ENV='DEV'
NODE_ENV='des'
PORT_DEFAULT=8081
NAME_PROYECT='integra'
DETAIL_PROYECT='MICROSERVICIOS INTEGRA ESAVI'
VERSION=1.0

# MEDDRA
MED_URL_TOKEN='https://mid.meddra.org/connect/token'
MED_URL_API='https://mapisbx.meddra.org/api/search'
MED_GRANT_TYPE='password'
MED_CLIENT_ID='mspclient'
MED_USER_NAME='------AQUI-----'
MED_PASSWORD='------AQUI-----'
MED_SCOPE='meddraapi'

# WHODRUG DB
WHD_TRANSFORM_KEY='e6925c4819136e68a86bc263ae9dfaa21600a20d6913d1542a66df40ea51a91c'
WHD_TRANSFORM_IV='911014906bad4b7caea72bc72511d12d'

# WHODRUG API
WHD_API_URL='https://api.who-umc.org/'
WHD_UMC_LICENSE_KEY='------AQUI-----'
WHD_UMC_CLIENT_KEY='------AQUI-----'

# INTEGRA ESAVI DB DESARROLLO
HOST_DATABASE='localhost'
NAME_DATABASE='dhi_esavi'

PORT_DATABASE='5432'
USER_DATABASE='dhis'
PASS_DATABASE='dhis2024'
SCHEMA_DATABASE='dhi_esavi'

# WHODRUG DB
HOST_DATABASE='localhost'
WHD_DB_NAME='dhi_esavi'
WHD_DB_PORT='5432'
WHD_DB_USER='dhis'
WHD_DB_PASS='dhis2024'

# MEDDRA DB
MDD_DB_HOST='localhost'
MDD_DB_NAME='dhi_esavi'
MDD_DB_PORT='5432'
MDD_DB_USER='dhis'
MDD_DB_PASS='dhis2024'
 
# CONEXION A VACUNNACI'ON
DB_VACUNACION_DB_HOST='scan19c-mspvacuna-prod.msp.gob.ec'
DB_VACUNACION_DB_NAME='DB_VACUNACION'
DB_VACUNACION_DB_PORT='1521'
DB_VACUNACION_DB_USER='USR.ROLANDOCASIGNA'
DB_VACUNACION_DB_PASS='Salud.2025'
DB_VACUNACION_DB_SCHEMA='HCUE_VACUNACION_DEPURADA'


RETRYDELAY_DATABASE=8080
RETRYATTEMPTS_DATABASE=10
HOST_SWAGGER='http://localhost:8081'
DETAIL_SWAGGER='Servidor de desarrollo'
API_KEY='------AQUI-----'

# VIGIFLOW_PASSWD
VIGIFLOW_URL='https://whoumcprod.b2clogin.com/whoumcprod.onmicrosoft.com/b2c_1_signinnomfa2withpasswordreset/oauth2/v2.0/authorize?client_id=f19e2327-16d5-4b49-a4c9-ea801ddca2c6&scope=https://whoumcprod.onmicrosoft.com/9771f5f2-3c0e-4895-9354-e527adbbb1c3/access_as_user openid profile offline_access&redirect_uri=https://vigiflow.who-umc.org/&client-request-id=c2c11653-bc4d-41b1-bdb3-6a9780b12c34&response_mode=fragment&response_type=code&x-client-SKU=msal.js.browser&x-client-VER=2.26.0&client_info=1&code_challenge=WYIAZ8Z6T6Lh2hpQGM2RB1054BNOrV8U9vxcQRQJPHI&code_challenge_method=S256&nonce=4743b23e-0bde-4b54-967c-2598c59fe7e5&state=eyJpZCI6IjFmMGMwYzI3LTQzOTgtNDBiNS05OTI0LTk3NjlkZDRmOTlkYSIsIm1ldGEiOnsiaW50ZXJhY3Rpb25UeXBlIjoicmVkaXJlY3QifX0='
VIGIFLOW_RENDER_AEFI_EXCEL_URL='https://vigiflow.who-umc.org/searchicsrs'
VIGIFLOW_RENDER_AEFI_JSON_URL='https://vigiflow.who-umc.org/query/rendericsrlistingexcel'
                                
VIGIFLOW_USERNAME='------AQUI-----'
VIGIFLOW_PASSWD='------AQUI-----'

DHIS2_URL='https://dev-ops-gss.msp.gob.ec'
DHIS2_USERNAME='------AQUI-----'
DHIS2_PASSWD='------AQUI-----'

DIR_PDF='./src/report/gacetaesavi'

DIR_CHROME_PUPPETEER='/Applications/Google Chrome.app/Contents/MacOS/Google Chrome'

USUARIO_INSERTA_REGISTRO='SYSTEM'

# ORACLE DB - VACUNACIÓN
ORACLE_ENABLED='true'
DB_VACUNACION_DB_HOST='scan19c-mspvacuna-prod.msp.gob.ec'
DB_VACUNACION_DB_PORT='1521'
DB_VACUNACION_DB_USER='USR.ROLANDOCASIGNA'
DB_VACUNACION_DB_PASS='Salud.2025'
DB_VACUNACION_DB_NAME='DB_VACUNACION'
DB_VACUNACION_DB_SCHEMA='HCUE_VACUNACION_DEPURADA'